#position
    .box
        position: relative
        .minibox
            width: 150px
            height: 150px
            background-color: #547e71
            margin: 10px
            color: #ffff
            h1
                margin: 10px
        .box1
            position: absolute
            top: -10px
            left: 200px
        .box3
            position: absolute
            top: 150px
            left: 200px


